@if (!isEditing) {
<h2 (click)="modifyVisitorName()">{{visitorSquadName}}</h2>
}@else {
<input type="text" placeholder="Inserisci nome squadra" #newName [value]="" (keyup.enter)="saveNameSquad(newName.value)"
   (blur)="saveNameSquad(newName.value )">
}
<form>
   <div>
      <form>
         <input type="button" class="btn btn-primary btn-lg" id="visitorScoreBtn" (click)="incrementVisitorScore()"
            value="{{visitorScore()}}">&nbsp;&nbsp;&nbsp;
         <!-- sezione falli -->
         <a class="btn">
         @if (visitorFouls() === 0) {
         <i class="bi bi-0-circle fs-2" (click)="incrementVisitorFouls()"></i>
         }
         @if (visitorFouls() === 1) {
         <i class="bi bi-1-circle fs-2" (click)="incrementVisitorFouls()"></i>
         }
         @if (visitorFouls() === 2) {
         <i class="bi bi-2-circle fs-2" (click)="incrementVisitorFouls()"></i>
         }
         @if (visitorFouls() === 3) {
         <i class="bi bi-3-circle fs-2" (click)="incrementVisitorFouls()"></i>
         }
         @if (visitorFouls() === 4) {
         <i class="bi bi-4-circle fs-2" (click)="incrementVisitorFouls()"></i>
         }
         @if (visitorFouls() === 5) {
         <i class="bi bi-5-circle fs-2" (click)="incrementVisitorFouls()"></i>
         }
         @if (visitorFouls() === 6) {
         <i class="bi bi-6-circle fs-2" style="color: red;" (click)="incrementVisitorFouls()"></i>
         }
         </a>
         <br><br>
         <input type="button" class="btn btn-secondary" id="modifyScoreBtn" (click)="decrementVisitorScore()"
         value="-1">&nbsp;&nbsp;&nbsp;&nbsp;
         <a class="btn" (click)="decrementVisitorFouls()">(-1)</a>
         <br>
         <br>
         <button type="reset" title="Reset" class="btn btn-dark" id="resetVisitors" (click)="resetVisitors()"><i
               class="bi bi-x">Reset</i></button>
      </form>
   </div>
</form>